<html>
  <head>
    <title><wo:str value="$context.application.name" /></title>
    <wo:stylesheet filename="semantic.min.css" />
    
    <style>
      .render-result {
      }
      .ui.segment pre {
        margin-top: 0px;
        margin-bottom: 0px;
      }
      .ui .list li.selected {
        background-color: #EEE;
      }
    </style>
  </head>
  
  <body style="padding: 1em;">
    <nav class="ui inverted blue menu">
      <h3 class="header item">
        <wo:hyperlink href="$homepageLink" string="$context.application.name" />
      </h3>
            
      <a class="active item"><wo:str value="$context.page.name" /></a>
      <!--
      <a class="item">Tab 2</a>
      <a class="item">Tab 3</a>
       -->
      <span class="floated right item">
        <a href="http://swiftobjects.org/" target="so">SwiftObjects</a>
      </span>
    </nav>
    
    <#WOComponentContent />    
  </body>
</html>
