<WEBOBJECT NAME="Frame">
  
  <div class="ui segment">
    <ul class="ui list">
      <wo:for list="$demos" item="$demo">
        <!--
          <li><wo:hyperlink pageName="$demo" string="$demoTitle" /></li>
          -->
        <li><wo:hyperlink actionClass="$demo" action="default"
                          string="$demoTitle" /></li>
      </wo:for>
    </ul>
   </div>
 
  <!--
  <h1>SwiftObjects is not WebObjects</h1>
  <p>
  <WEBOBJECT NAME="Body"></WEBOBJECT>
  </p>
  
  <WEBOBJECT NAME="Form" class="ui form segment">
    <div class="field">
      <label>Title:</label>
      <WEBOBJECT NAME="TitleField" class="ui input"></WEBOBJECT>
    </div>
    
    <WEBOBJECT NAME="Submit" class="ui blue submit button"></WEBOBJECT>
  </WEBOBJECT>
   -->
  
</WEBOBJECT>
